hr {
  border: 0;
  border-bottom: 1px dashed $dark-font-color;
}

.container {
  max-width: $viewport-xl;
  box-sizing: border-box;
}

a {
  transition: color .3s;
  text-decoration: none;
  color: $yellow;

  &:hover,
  &:focus,
  &:active {
    color: darken($yellow, 15%);
  }
}
