.btn,
button {
  @extend .bg-white;
  display: inline-block;
  transition: color .3s, background-color .3s;
  border: 0;
  cursor: pointer;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($white, 25%);
    color: $dark-font-color;
  }

  &.btn-red,
  &.btn-magenta,
  &.btn-green,
  &.btn-blue,
  &.btn-cyan,
  &.btn-link {
    color: $white;
  }

  &.btn-red { @include btn-color($red); }
  &.btn-magenta { @include btn-color($magenta); }
  &.btn-green { @include btn-color($green); }
  &.btn-yellow { @include btn-color($yellow); }
  &.btn-blue { @include btn-color($blue); }
  &.btn-cyan { @include btn-color($cyan); }
  &.btn-link { @include btn-color(transparent); }
}
