.btn,
button {
  display: inline-block;
  transition: color .3s, background-color .3s;
  border: 0;
  cursor: pointer;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

.btn-link {
  @extend .text-white;
  background-color: transparent;

  &:active,
  &:focus,
  &:hover {
    @extend .text-white;
  }
}
