@each $idx, $color in $colors {
  // Background Color
  .bg-#{$idx},
  .btn-#{$idx} {
    background-color: $color;
  }

  // Text Colors
  .text-#{$idx},
  .anchor-#{$idx} a {
    color: $color;
  }

  .anchor-#{$idx} a:hover,
  .anchor-#{$idx} a:active,
  .anchor-#{$idx} a:focus {
    color: darken($color, 15%);
  }

  // Buttons
  .btn-#{$idx} {
    @extend .text-white;

    &:active,
    &:focus,
    &:hover {
      @extend .text-white;
      background-color: darken($color, 15%);
    }
  }
}

.bg-yellow, .bg-white, .btn-yellow {
  @extend .text-dark;
}
.bg-dark {
  @extend .text-white;
}
