.bg-red        { background-color: $red; }
.bg-magenta    { background-color: $magenta; }
.bg-green      { background-color: $green; }
.bg-blue       { background-color: $blue; }
.bg-cyan       { background-color: $cyan; }

.bg-yellow     {
  background-color: $yellow;
  color: $dark-background;
}

.bg-white      {
  background-color: $white;
  color: $dark-background;
}


.text-red        { color: $red; }
.text-magenta    { color: $magenta; }
.text-green      { color: $green; }
.text-yellow     { color: $yellow; }
.text-blue       { color: $blue; }
.text-cyan       { color: $cyan; }
.text-white      { color: $white; }
