// colors
$red:    #e74c3c !default;
$green:  #2ecc71 !default;
$yellow: #f1c40f !default;
$blue:   #3498db !default;
// $magenta:
// $cyan:
$white:  #ecf0f1 !default;
$gray:   #2c3e50 !default;

// Viewports
$viewport-m: 32rem !default;
$viewport-l: 48rem !default;
$viewport-xl: 60rem !default;

// Fonts
$font-size: 16px !default;
$font-weight: 400 !default;
$font-family: 'Inconsolata', 'Lucida Console', Courier, monospace !default;

// Dark Theme (default)
$dark-background: $gray !default;
$dark-font-color: $white !default;

// Code
$code-color: darken($green, 15%) !default;
$code-bg:    darken($gray, 15%) !default;
