{% extends "default.twig" %}

{% block content %}
    <div class="home">
        <section class="container-fluid">
            {% include 'home_intro.twig' %}
        </section>

        <section class="container-fluid bg-white odd">
            {% include 'home_install.twig' %}
        </section>

        <section class="container-fluid">
            {% include 'home_customization.twig' %}
        </section>
    </div>
{% endblock %}