<article id="home_install" class="container">
    <h2>Installation</h2>
    
    <p>Via bower</p>
    <pre class="reset"><code class="Bash">$ bower install --save consola.css</code></pre>

    <p>Via npm</p>
    <pre class="reset"><code class="Bash">$ npm install --save consola.css</code></pre>

    <h3>CSS</h3>
    <p>Just add a <code>&lt;link&gt;</code> in your <code>&lt;head&gt;</code> of either <code>consola.css</code> or the minified version <code>consola.min.css</code>.</p>
</article>