<article id="home_customization" class="container">
    <h2>Customization</h2>
    <p>In your SCSS file, you can import consola.css:</p>
    <pre class="reset"><code class="scss">@import "/path/to/consola.css/scss/consola";</code></pre>

    <p>Variables are stored in the <code>scss/_variables.scss</code> file, so they can be easily customized:</p>
    <pre class="reset"><code class="scss">$font-size: 14px;
$red: #ff0000;

@import "/path/to/consola.css/scss/consola";</code></pre>
</article>