{% extends "default.twig" %}

{% block content %}
    <div class="home">
        <header class="container-fluid hero bg-white">
            <h1>
                consola.css
                <br/>
                <small class="text-muted">A CSS micro-framework for a console like style</small>
            </h1>
            <p>
                <a href="https://www.npmjs.com/package/consola.css">
                    <img src="https://img.shields.io/npm/v/consola.css.svg?style=flat-square" alt="NPM" />
                </a>
                <a href="https://github.com/PascalKleindienst/consola.css">
                    <img src="https://img.shields.io/bower/v/consola.css.svg?style=flat-square" alt="Bower" />
                </a>
                <a href="https://www.npmjs.com/package/consola.css">
                    <img src="https://img.shields.io/npm/dt/consola.css.svg?style=flat-square" alt="NPM Downloads" />
                </a>
                <a href="https://raw.githubusercontent.com/PascalKleindienst/consola.css/master/LICENSE">
                    <img src="https://img.shields.io/github/license/PascalKleindienst/consola.css.svg?style=flat-square" alt="license" />
                </a>
                <a href="https://codeclimate.com/github/PascalKleindienst/consola.css">
                    <img src="https://img.shields.io/codeclimate/github/PascalKleindienst/consola.css.svg?style=flat-square" alt="Code Climate" />
                </a>
            </p>
        </header>

        <section class="container-fluid">
            {% include 'home_intro.twig' %}
        </section>

        <section class="container-fluid bg-white odd">
            {% include 'home_install.twig' %}
        </section>

        <section class="container-fluid">
            {% include 'home_customization.twig' %}
        </section>
    </div>

{% endblock %}