<article id="home_intro" class="container">
    <p>consola.css is a lightweight CSS micro-framework for a console like style.</p>
    <p>
        It is very minimalistic and has therefore a small footprint of only <strong>4.15 kB gzipped</strong>. 
        It also includes SCSS and CSS files and comes with a gulpfile for customizing the build.
    </p>

    <p class="intro_btns">
        <a href="#docs" class="btn btn-blue"><i class="fa fa-book"></i> Documentation</a>
        <a href="https://github.com/PascalKleindienst/consola.css/archive/master.zip" class="btn btn-yellow"><i class="fa fa-download"></i> Download</a>
        <a href="https://github.com/PascalKleindienst/consola.css" class="btn btn-gree"><i class="fa fa-code"></i> Source Code</a>
    </p>
</article>