/** Hero */
.hero {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.hero h1 > small{
    display: block;
}

/** Padding for bg-white **/
.odd {
    padding: .1rem 0;
}

/** Into Buttons **/
.intro_btns {
    text-align: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}
.intro_btns > .btn {
    padding: .75rem 1.5rem;
    font-size: 120%;
}

/** Reset pre for hljs */
 pre:not(.default-consola) {
    background-color: none; 
    padding: 0; 
    font-size: 100%; 
}

/**
 * Content
 */
 article {
     position: relative;
 }
 
a.anchor {
    position: absolute;
    left: 0;
    margin-left: -25px;
    opacity: 0;
    transition: opacity .3s; 
}
 h1:hover > a.anchor,
 h3:hover > a.anchor,
 h2:hover > a.anchor,
 h4:hover > a.anchor,
 h5:hover > a.anchor,
 h6:hover > a.anchor {
     opacity: 1;
 }

 /* Sidebar */
 .sidebar ul{
    padding: 0;
 }

 .sidebar ul li {
     margin-bottom: 20px;
 }
 .sidebar ul li ul {
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
 }
 .sidebar ul li ul  li {
    margin-bottom: 5px;
 }
.sidebar ul li ul li.active  {
    text-decoration: underline;
}

/** Footer **/
#footer {
    margin: 4rem 0 2rem 0;
    text-align: center;
}

/**
 * Examples
 */
.row-example div {
    background: #3498db;
    border: 1px solid #1d6fa5;
}